dbhostname = ferdinand
dbname = powermeter
dbuser = powermaster
dbpassword = tom,ri5tentR
dbport = 3307
stationname = Solivia
sensorname = powermeter
#meterhostname = powermeter.othello.ch
metertype = solivia
meterhostname = 192.168.47.19
meterport = 26
meterid = 1
meterinterval = 2
listenport = 1471
